@font-face{font-family:'Roboto';font-style:normal;font-weight:400 700;font-display:swap;src:url('../fonts/Roboto-var.woff2') format('woff2');}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:600 700;font-display:swap;src:url('../fonts/RobotoSlab-var.woff2') format('woff2');}
